[submodule "backend"]
	path = backend
	url = https://github.com/Greenora/project-gachimura-backend-nest-deployment.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Greenora/project-gachimura-front-next-deployment.git
